* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 1em/1.3em Arial, sans-serif;
	height: 100%;
    color: #333;
    background-color: #eee;
    line-height: 1;
}

p {
    padding-top: 10px;   
}

li {
    padding-left: 20px;
    list-style: none;
}

.float-left {
    float: left;
}
.clear {
    clear: both;
}

.page-container {
    width: 800px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Icons
-----------------------------------------------------------------------------*/
.icon {
  font-size: 18px;
  line-height: 24px;
}

.icon-lg {
    font-size: 3em;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 120px;
    padding-bottom; 15px;
    padding-top: 15px;
    padding-left: 25%;
    border-radius: 10px;
    background-color: #ffffff;
}

.center {
    width: 400px;   
}

.header-photo {
    width: 100px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    margin-top: 20px;
    border-radius: 10px;
	padding: 20px 20px 20px 20px;
    background-color: #ffffff;
}

.education {
    margin: auto;
}

.skills {
    margin:auto;  
}

.sub-skill-title {
    text-align: center;
}
.sub-skill {
    text-align: left;
    padding: 10px 10px 10px 10px;
    width: 30%;  
}

.skill-img {
    text-align: center;
    width: 32.5%; 
}

.section {
    padding: 20px 20px 20px 20px;
}